body{
    margin: 0;
    padding: 0;
    background-color: rgb(134, 134, 134);
}

.container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
}

.container > div{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
}

input[type="text"]{
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

input:focus{
    border: 2px solid rgba(123, 255, 0, 0);
}

.popup{
    background-color: rgba(22, 22, 22, 0.185);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content{
    background-color: white;
    height: 300px;
    width: 300px;
    position: relative;
    font-size: 13px;
    border: 2px solid black;
}

.popup-content > *{
    padding: 5px;
}

.info{
    height: 30px;
    width: 30px;
    position: absolute;
    right: -10px;
    top: -15px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
}

.close{
    height: 30px;
    width: 30px;
    position: absolute;
    right: -10px;
    top: -15px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
}

.botton{
    text-align: center;
    padding: 0;
}

